<head>
<style>
div {
    padding: 5px;
}
</style>
</head>
<%= form_for :productos, url:productos_path do |f| %>

  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><font color="red"> El producto no puede ser gardado:</font></h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :prourl, :required => "required"%>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :required => "required"%>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion, :required => "required"%>
  </div>
  <div class="field">
    <%= f.label :vencimiento %><br>
    <%= f.date_field :vencimiento, :required => "required"%>
  </div>
  <div class="field">
  <%= f.label :categoria_id %><br>
  <%= f.select :categoria_id, Categoria.all.collect { |p| [ p.nombre, p.id ] } %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar Producto" %>
  </div>
<% end %>
