<h1>Listar Productos</h1>

<head>
<style>
table, td {
    padding: 5px;
}
</style>
</head>

<table style="width:100%">
  <thead>
    <tr>
	  <th>Imagen</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Vencimiento</th>
	  <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
	    <td><%= image_tag(producto.prourl, size: "80") %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.vencimiento %></td>
        <td><%= link_to 'Mostrar', producto %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Producto', :action => :new %>
