<p id="notice"><%= notice %></p>
<p>
  <%= image_tag(@producto.prourl, size: "200") %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Vencimiento:</strong>
  <%= @producto.vencimiento %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= link_to Categoria.find(@producto.categoria_id).nombre, controller: "categoria", action: "show", id: @producto.categoria_id %>
</p>

<p>
  <%= link_to "Ofertar", controller: "oferta", action: "new", id: @producto.id %>
</p>

<%= link_to 'Atras', productos_path %>
